/****************
	BASE STYLES
****************/
section#main {
	width: 75%;
	margin-right: auto;
	margin-left: auto;
}
article#content {
	margin: 50px 0px;
}
div.tabs {
	border: 1px solid #ddd;
	border-radius: 0px 0px 4px 4px;
	border-top: none;
}
.tabs h4 {
	padding: 20px 0px 10px 0px;
}
section#feedback,
section#CCRB {
	border: 1px solid #ddd;
	border-radius: 0px 0px 4px 4px;
	float: left;
	width: 49%;
	margin: 20px auto 0px auto;
	padding: 30px;
}
	section#CCRB {
		margin-right: 2%;
	}
div#bottom {
	width: 1px;
}
div.clear{
	clear: both;
}
/*******************
   CONTENT STYLES
*******************/

div[role="tabpanel"] {
	padding: 30px 20px;
}

span#pa {
	font-weight: bold;
}

div#pa-details {
	padding-top: 20px;
}

.doughnut-legend,
p#intro {
  list-style-type: none;
}

.doughnut-legend span {
	padding: 2px;
}

div.local-rep {
	padding-bottom: 15px;
}
	div.local-rep p {

	}
