/****************
	BASE STYLES
****************/
section#main {
	width: 75%;
	margin-right: auto;
	margin-left: auto;
}

article#content {
	margin: 50px 0px;
}

div.tabs {
	border: 1px solid #ddd;
	border-radius: 0px 0px 4px 4px;
	border-top: none;
}

/*******************
   CONTENT STYLES
*******************/

div[role="tabpanel"] {
	padding: 30px 20px;
}

/*div#precinct,div#rep {
	display: none;
}*/

